@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    url('fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: 
    url('fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-serif: "EB Garamond", "Times New Roman", Times, serif;
  --font-sans: "Montserrat", "Lato", sans-serif;
  --font-garamond: "EB Garamond", serif;
  --font-lato: "Lato", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@layer components {
  .content-post-body {
    @apply font-lato text-lg leading-relaxed;
  }
  .content-post-body h4 {
    @apply font-bold my-4;
  }

  .content-post-body p {
    @apply my-8;
  }

  .content-post-body ul {
    @apply list-disc list-outside pl-10 space-y-2;
  }

  .content-post-body a {
    @apply text-orange-800 hover:underline;
  }
}